<app-carousel
    [images]="images"></app-carousel>

<div class="mt-4 mb-4">
    <h1 class="text-center">Traditional Boundaries</h1>
    <h2 class="text-center mt-2">For all of your landscaping needs</h2>
</div>

<div class="container mt-4">
    <p class="text-center">
        Traditional boundaries is a North Cotswolds based landscaping company that specialises in lanscaping and dry stone walling,
        although we have had many unique projects and continue to get asked to undertake very specific requests that will also be 
        very individual to that project.
    </p>    
</div>

<div class="container mt-4">
    <h2 class="text-center pt-4">What we do</h2>
    <p class="text-center">
        Whilst all of our projects are unique, we do have many similar requests and as such have built up a wealth of knowledge on
        the following areas of work
    </p>    
</div>

<div class="project-categories">
    <div class="row animation-target">
        <div class="image-container" (click)="scrollTo('walling')">
            <img src="../../../assets/img/montStMichel.jpg">
            <p>Dry stone walling</p>
        </div>
        <div class="image-container" (click)="scrollTo('fencing')">
            <img src="../../../assets/img/mountainLake.jpg">
            <p>Fencing</p>
        </div>
        <div class="image-container" (click)="scrollTo('landscaping')">
            <img src="../../../assets/img/starySky.jpg">
            <p>Landscaping</p>
        </div>        
    </div>    
</div>

<div class="container mt-4" id="walling">
    <h2 class="text-center pt-4">Dry Stone Walling</h2>
    <p class="text-center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, odit animi voluptatem adipisci cumque nostrum quod 
        exercitationem aut temporibus provident, vero quidem mollitia magni labore quisquam, laboriosam quis ab nihil.       
    </p>    
</div>

<div class="container mt-4" id="fencing">
    <h2 class="text-center pt-4">Dry Stone Walling</h2>
    <p class="text-center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, odit animi voluptatem adipisci cumque nostrum quod 
        exercitationem aut temporibus provident, vero quidem mollitia magni labore quisquam, laboriosam quis ab nihil.       
    </p>    
</div>

<div class="container mt-4" id="landscaping">
    <h2 class="text-center pt-4">Dry Stone Walling</h2>
    <p class="text-center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, odit animi voluptatem adipisci cumque nostrum quod 
        exercitationem aut temporibus provident, vero quidem mollitia magni labore quisquam, laboriosam quis ab nihil.       
    </p>    
</div>