<footer class="pt-4 pb-4 my-md-5 pt-md-4 mt-4 border-top">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md">
        <ul>
          <li class="list-unstyled">
            <i class="fab fa-instagram fa-lg"></i>
            <span> Instagram</span>
          </li>
        </ul>               
      </div>
      <div class="col-6 col-md">
        <p>
          Website created by <a href="https://www.linkedin.com/in/fraser-nicholson-092441193/" target="_blank">Fraser Nicholson</a>
        </p> 
      </div>             
    </div>      
  </div>
</footer>